html { width:100%; height:100%; margin:0 padding:0; }
body { width:100%; height:100%; margin:0; padding:0; }

.nav-container{
    display: flex;
    background-color: purple;
    justify-content: space-between;
}

.nav-item{

    border-color: green;
}

.nav-item.one{
    background-color: pink;
    float: left;
}

.nav-item.two{
    background-color: yellow;
    float: right;
}

.nav-item p{
    display: inline-block;
    text-align: justify;
    font-size: 12px;
    padding: 8px;
}

.nav-item a{
    color: inherit;
    text-decoration: none;
}