.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input{
    margin-top: 25px;
    width: 500px;
    border-radius: 10px;
}

input:hover{
    box-shadow: 2px 2px 2px gray;

}
.top-margin{
    margin-bottom: 100px;
}

.top-margin p{
    display: inline-block;
    text-align: justify;
}

button{
    background-color: rgb(66 133 244);
    color: white;
    border: none;
}

.left-nav {
    left: 0;
}

.right-nav {
    margin-left: 90%;
}